
:root{
    --active-color: rgb(39, 39, 38);
}

body{
  background-color: var(--active-color);
  /*
  background-image: url("../assets/pexels-zukiman-mohamad-63558.png");
  background-size: contain;
  */
}

.navbar_el--color{

  background-color: var(--active-color);
  z-index: 5;
}

#colors-list{
  background-color: rgba(8, 8, 8, 0.707);
}